.dashboardContainer{
    height: 100vh;
    display: flex;
}

.dashboard * {
    font-family: inherit;
}

.dashboard{
    display: flex;
    flex-direction: column;
    width: 1100px;
    margin: auto;
    height: 65vh;

    border: 1px solid #f5f5f5;
    border-radius: 10px;
    padding: 20px;
}

.summary{
    display: flex;
    max-width: 1100px;
    border: 1px solid #f5f5f5;
    width: 50%;
}

.summary h1, .summary h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.summary h2{
    font-weight: 300;
}

.summary button.toggle-lovelace {
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    width: 50%;
}

.summary .left{
    flex: 1;
    padding: 20px;
}

.summary .right{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.summary .right button{
    width: 150px;
    min-width: fit-content;
    padding: 4px;
    border-radius: 5px;
    border-color: transparent;

    text-transform: uppercase;
    text-align: center;

    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.summary .right button:hover {
    color: #f5f5f5;
    border-color: #f5f5f5;
}

.summary .right .send{
    position: relative;
    /* popular red color with deep tones and meaning */
    background-color: #b91b1b;
}

.summary .right .send:hover{
    /* popular red color with deep tones and meaning */
    background-color: #d91b1b;
}

.summary .right .send .send-modal{
    position: absolute;
    border: 1px solid red;
    background-color: #000;
    padding: 30px 20px;

    width: 30vw;

}

.summary .right .receive{
    /* popular green color with deep tones and meaning */
    background-color: #0f9d58;
}

.summary .right .receive:hover{
    /* popular green color with deep tones and meaning */
    background-color: #0fbf58;
}

.disconnect{
    width: 150px;
    position: relative;
    left: 80%;
    bottom: 42px;
    
    border: 1px solid #f5f5f5;
    color: white;
    border-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    padding: 2px 4px;
    
    text-align: center;

    background-color: transparent;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.disconnect:hover{
    cursor: pointer;
    background-color: #f5f5f5;
    color: #000;
    border-color: transparent;
}
